# Dependency directories
node_modules/
jspm_packages/

# build dirs
dist*/

# tokens
auth.json*
auth.*.json

# data
data.json*

# uploads
uploads/

# config
config.json

# certificates
*.crt

# share/ directory
share/