html
	head
		title ass - The superior self-hosted ShareX server
		meta(name='description' content='ass is a self-hosted ShareX upload server written in Node.js')
		include head
		include opengraph
		style: include css/modest.css
	body!=data