meta(property='og:title' content='ass - The superior self-hosted ShareX server')
meta(property='og:type' content='website')
meta(property='og:url' content='https://github.com/tycrek/ass')
meta(property='og:description' content='ass is a self-hosted ShareX upload server written in Node.js')
meta(property='og:image' content='https://jmoore.dev/files/ass-GitHub-banner.png')
meta(name='twitter:card' content='summary_large_image')
meta(name='theme-color' content='#ff8509')