meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')

//- Markdown stylesheet & Highlight.js theme
link(rel='stylesheet', href='/css')
style: include css/dracula.highlight.js.css

//- jQuery; Highlight.js for codeblocks; Font Awesome
script(src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js')
script(src='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.1/build/highlight.min.js')
script(src='https://kit.fontawesome.com/f2f926ac2d.js' crossorigin='anonymous')
script.
	// Highlight code blocks
	hljs.highlightAll();
