:root {
	--color-primary: #fd842d;
	--color-primary-dim: #B64D02;
	--color-primary-dark: #793301;

	--color-link-hover: #FD710D;
	--color-link-active: #DE5E02;
}

/* Modest fixes */
pre, code { background-color: #1A1A1A !important; }
h1, h2, h3 { border-bottom: 2px solid #323232 !important; }
pre { overflow-x: hidden !important; }

/* Dark theme */
body {
	background-color: #212121 !important;
	color: #BDBDBD !important;
}

body, button { text-shadow: 1px 1px 1px black; }
code { color: #EEE !important; }
pre { border-radius: 16px; }

/* Remove styles and colors from links */
a, a:hover, a:active, a:visited { text-decoration: none; }
a, a:visited {
	color: var(--color-primary) !important;
	border-bottom: 2px solid;
	border-bottom-color: transparent;
	border-radius: 2px;
	transition: color 150ms linear, border-bottom-color 150ms linear;
}
a:hover { color: var(--color-link-hover) !important; border-bottom-color: var(--color-primary-dim); }
a:active { color: var(--color-link-active) !important; }

