name: "Docker Build"

on:
  push:
    branches: [ master, dev/0.15.0 ]
  pull_request:
    branches: [ master, dev/0.15.0 ]

jobs:
  test:
    name: Test Build
    if: contains(github.event.head_commit.message, '[docker build]')
    runs-on: ubuntu-latest
    container: node:20-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm 10 & TypeScript
      - name: Install global packages
        run: npm i -g npm@10 typescript
      # Install ass dependencies (including types)
      - name: Install dependencies
        run: npm i --save-dev
      # Compile the TypeScript files
      - name: Run build script
        run: npm run build

  build_and_push:
    name: Build & Publish Docker Images
    needs: test
    if: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev/0.15.0') && contains(github.event.head_commit.message, '[docker build]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          build-args: |
            COMMIT_TAG=${{ github.sha }}
          tags: |
            tycrek/ass:master

  discord:
    name: Send Discord Notification
    needs: build_and_push
    if: always() && github.event_name != 'pull_request' && contains(github.event.head_commit.message, '[docker build]')
    runs-on: ubuntu-latest
    steps:
      - name: Get Build Job Status
        uses: technote-space/workflow-conclusion-action@v3
      - name: Combine Job Status
        id: status
        run: |
          failures=(neutral, skipped, timed_out, action_required)
          if [[ ${array[@]} =~ $WORKFLOW_CONCLUSION ]]; then
            echo "status=failure" >> $GITHUB_OUTPUT
          else
            echo "status=$WORKFLOW_CONCLUSION" >> $GITHUB_OUTPUT
          fi
      - name: Post Status to Discord
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ steps.status.outputs.status }}
          title: ${{ github.workflow }}
          nofail: true
